body {
  text-align: center;
}

/* svg {
  text-align: center;
  border: dashed pink;
} */

path:hover {
  stroke: gray;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  font: 12px sans-serif;
  color: white;
  background: black;	
  border: 0px;		
  border-radius: 8px;
  padding: 8px;
}